<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>462408956473-v3c9psvrkncq1gl4bd37isf5e4u5tcp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462408956473-v3c9psvrkncq1gl4bd37isf5e4u5tcp7</string>
	<key>API_KEY</key>
	<string>AIzaSyAOp-8iI3AgAYcU7IsTL9Sm0oOA_j2wJpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>462408956473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danbonehillapps.define-app</string>
	<key>PROJECT_ID</key>
	<string>define-3e5b3</string>
	<key>STORAGE_BUCKET</key>
	<string>define-3e5b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462408956473:ios:8e781429bbcda1c9</string>
	<key>DATABASE_URL</key>
	<string>https://define-3e5b3.firebaseio.com</string>
</dict>
</plist>